.header {
    position:static;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;

    &--left {
        display: flex;
        align-items: center;
        gap: 30px;

        &-logo {
            padding: 0 50px;
            width: 240px;
            height: 27px;
        }

        &-title {
            color: #151515;
            font-family: Inter;
            font-size: 26px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.3px;
        }
    }

    &--right {
        display: flex;
        align-items: center;
        gap: 30px;

        &--searchWrap {
            position: relative;
            width: 315px;
            height: 40px;
            padding: 10px 23px;
            border-radius: 18px;

            &-input {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 0;
                border-radius: 18px;
                border: 0.7px solid rgba(113, 128, 150, 0.40);
                background: #FFF;
                padding: 10px 10px 10px 40px;
                color: #718096;
                outline: none;
                font-family: Inter;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: 0.3px;
            }

            &-icon {
                position: absolute;
                top: 10px;
                left: 10px;
            }
        }

        &-day {
            color: #000;
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.3px;
        }
    }
}