.wrapper-layout{
    display: flex;
    align-items: start;
    justify-content: flex-start;
    margin-top: 80px;
    background: #F1F1F1;
    min-height: 100vh;
    

    &--outlet{
        width: 100%;
        padding: 18px 24px;
    }
}